@import "src/app/core/scss/fuse";

.border {
    margin-top: 5px;
    padding-top: 10px;
    border-style: solid;
    border-radius: 10px;
}

.header{
  height: 70px !important;
  min-height: 70px !important;
}