<h1 mat-dialog-title>{{data.dialogTitle | translate}}</h1>
<mat-dialog-content>
  
  <p *ngIf="type == 'RECHARGE'" >{{data.dialogMessage}} {{ value | currency }} ? </p>
  <p *ngIf="type == 'PURCHASE'" >{{data.dialogMessage}} {{ value }} ? </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="pushButton(true)">Ok</button>
  <button mat-raised-button mat-dialog-close color="warn" (click)="pushButton(false)">{{'POS.CANCEL' | translate}}</button>
</mat-dialog-actions>
