<div id="pos" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayoutAlign="center center"
      fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          business
        </mat-icon>
        <span class="logo-text h1" *fuseIfOnDom
          [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{'POS.TITLE' | translate}}</span>
      </div>
      <!-- / APP TITLE -->



      <!-- <button mat-raised-button (click)="addNewBusiness()" class="add-product-button mat-white-bg my-12 mt-sm-0">
        <span>{{'BUSINESS.ADD_BUSINESS' | translate}}</span>
      </button> -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <div fusePerfectScrollbar>
        <div fxFlex="100" class="p-12" fxLayout="row wrap">
          <!-- AUTOCOMPLETE -->
          <div class="pt-12" fxFlex="100" fxLayoutAlign="start center">
            <label for="search" class="mr-8">
              <mat-icon class="secondary-text">search</mat-icon>
            </label>
            <mat-form-field fxFlex.gt-sm="45">
              <input id="search" #walletInputFilter matInput [placeholder]="'POS.SELECT_WALLET' | translate"
                [formControl]="walletFilterCtrl" fxFlex [matAutocomplete]="auto">

              <button mat-button *ngIf="selectedWallet" matSuffix mat-icon-button aria-label="Clear"
                (click)="clearSelectedWallet()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <!-- AUTOCOMPLETE -->
          <!-- WALLET SUMMARY -->
          <span fxFlex="100" *ngIf="!selectedWallet" class="mat-headline pl-12">{{'POS.MISSING_WALLET' | translate}}</span>

          <div class="p-12" fxFlex="100" *ngIf="selectedWallet" fxLayout="row wrap" id="wallet-sumary">

            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="start center">
              <span class="mat-headline">{{'POS.CURRENT_WALLET_STATE' | translate}}</span>
              <span class="mat-headline pl-8"
                [ngClass]="{'green-fg': selectedWallet.pockets.main > 0, 'red-fg':selectedWallet.pockets.main < 0}">
                {{ selectedWallet.pockets.main | currency}}
              </span>
            </div>

            <mat-form-field fxFlex="100" fxFlex.gt-xs="50" class="pr-8 pl-8">
              <input matInput readonly placeholder="{{ 'POS.WALLET_INFO.NAME' | translate }}"
                value="{{ selectedWallet.fullname }}">
            </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.gt-xs="50" class="pr-8 pl-8">
              <input matInput readonly placeholder="{{ 'POS.WALLET_INFO.DOCUMENT_ID' | translate }}"
                value="{{ selectedWallet.documentId }}">
            </mat-form-field>

          </div>
          <!-- WALLET SUMMARY -->
          <!-- <mat-divider fxFlex="100"></mat-divider> -->

          <!-- SALES AND PAYMENT -->
          <div fxFlex="100" fxLayout="row wrap">
            <!-- RELOAD -->
            <mat-card class="m-8" fxFlex="100" fxFlex.gt-sm="48" name="chargebalanceForm" [formGroup]="chargebalanceForm" fxLayout="column">
              <span class="mat-headline">{{'POS.REALOAD_TITLE' | translate}}</span>
              <mat-card-content>
                <mat-form-field fxLayout="column" class="p-8">
                  <input matInput name="chargeValue" formControlName="chargeValue" maxlength="9" min="1"
                    placeholder="{{'POS.CHARGE_BALANCE.AMOUNT' | translate}}" currencyMask
                    [options]="{ prefix: '$ ', thousands: ',', precision: '0' }">
                  <mat-error *ngIf="chargebalanceForm.hasError('required', ['chargeValue'])">
                    {{'POS.CHARGE_BALANCE.AMOUNT_REQUIRED' | translate}}
                  </mat-error>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions>
                <button [disabled]="!selectedWallet || chargeBtnDisabled || chargebalanceForm.invalid" (click)="makeBalanceReload()"
                  mat-raised-button color="primary">
                  {{'POS.CHARGE_BALANCE.MAKE_RELOAD' | translate}}
                </button>
              </mat-card-actions>
            </mat-card>
            <!-- RELOAD -->

            <!-- PAYMENT -->
            <mat-card class="m-8" fxFlex="100" fxFlex.gt-sm="48" name="productPaymentForm" [formGroup]="productPaymentForm" fxLayout="column">
                <span class="mat-headline">{{'POS.PAYMENTS.TITLE' | translate}}</span>
                <mat-card-content>
                    <mat-form-field fxLayout="column" class="p-8">
                        <input #plateInputFilter matInput name="plate" formControlName="plate" maxlength="6" minlength="6"
                          placeholder="{{'POS.PAYMENTS.LICENSE_PLATE' | translate}}">
                        <mat-error *ngIf="productPaymentForm.hasError('required', ['plate'])">
                          {{'POS.PAYMENTS.LICENSE_PLATE_REQUIRED' | translate}}
                        </mat-error>
                      </mat-form-field>

                      <div fxFlexLayoutAlign="start center" fxLayout="row wrap">
                        <mat-form-field class="p-8" fxFlex="100" fxFlex.gt-xs="50" >
                          <mat-label>{{'POS.PAYMENTS.PACK_NAME_LBL' | translate}}</mat-label>
                          <mat-select name="pack" formControlName="pack">
                            <mat-option *ngFor="let food of packOptions" [value]="food">
                              {{ 'POS.PAYMENTS.PACK_OPTIONS.' + food | translate}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field class="p-8" fxFlex="100" fxFlex.gt-xs="50" fxLayout="column">
                          <input matInput type="number" name="qty" formControlName="qty" max="100" min="1"
                            placeholder="{{'POS.PAYMENTS.PACK_QUANTITY' | translate}}">
                          <mat-error *ngIf="productPaymentForm.hasError('min', ['qty'])">
                            {{'POS.PAYMENTS.LICENSE_PLATE_REQUIRED' | translate}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary" (click)="makePayment()"
                    [disabled]="!selectedWallet || paymentBtnDisabled || productPaymentForm.invalid || !selectedBusinessId ">
                    {{'POS.PAYMENTS.MAKE_PAYMENT' | translate}}
                  </button>
                </mat-card-actions>
              </mat-card>
            <!-- PAYMENT -->

          </div>
          <!-- SALES AND PAYMENT -->

        </div>
      </div>
      <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
  </div>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)='onSelectWalletEvent($event.option.value)'
    [displayWith]="displayFnWrapper()">
    <mat-option *ngFor="let wallet of walletQueryFiltered$ | async" [value]="wallet">
      {{ wallet.fullname }}:{{ ' ' + wallet.documentId }}
      ({{ 'POS.ENTITY_TYPES.' + wallet.type | translate }})
    </mat-option>
  </mat-autocomplete>
